h1 {
}
p {
    font-size: medium;
}
a {
    font-size: medium;
}
/* Outer View */
#outer {
  width:700px;
/*  height:572px; */
  margin:auto;
  margin-top:75px;
}

@media (max-width:767px) {
  #outer {
    width:350px;
  }
}

/* Body */
body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#ffffff;
}

.element {
  margin:18px 0px 18px 0px;
}

hr {
  margin:0;
}

/* ProfileCard */
#profileCard div {
  display:inline-block;
  vertical-align:middle;
}

#profileCard img {
  height:14rem;
  width:14rem;
  vertical-align:middle;
  margin-right:4rem;
  border-color:transparent;
}

/* navigationBar */
#navigationBar{
  list-style-type:none;
  padding:0;
}

#navigationBar li {
  display:inline;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
}

#navigationBar li a {
  color:#333;
}

/* content */
#content section {
  margin-left:10px;
  display:inline-block;
}

/* footer */
#footer li {
  font-size:small;
  font-weight:bold;
  width:24%;
  height:30px;
  margin:auto;
}

#footer a {
    color: inherit;
}

#footer li i {
  padding-right:10px;
}

